.formulario {}
.radio {
    margin-top: 10px;
}
.formulario .radio label{
  display: inline-block;
  cursor: pointer;
  color: #00ab5f;
  position: relative;
  padding: 5px 15px 5px 51px;
  font-size: 1em;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; 
}
.formulario .radio label:hover{
  background: rgba(255, 65, 54, 0.1); 
}
.formulario .radio label:before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 10px;
  top: 10px;
  border-radius: 50%;
  background: none;
  border: 3px solid #00ab5f; 
}
.formulario input[type="radio"] {
  display: none; 
}
.formulario input[type="radio"]:checked + label:before {
  display: none; 
}
.formulario input[type="radio"]:checked + label {
  padding: 5px 15px;
  background: #00ab5f;
  border-radius: 2px;
  color: #fff; 
}
 