body {
    background: #222;
}

@font-face {
    font-family: Lato-Bold;
    src: url(../fonts/Lato/Lato-Bold.ttf)
}

#coin {
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-right: 2px;
}

#opp {
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin-left: 2px;
}

.butts a {
    width: 130px;
    padding-top: 5px;
    height: 50px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    text-decoration: none;
    color: white;
    border: solid black 1px;
}

.butts {
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.baner {
    font-family: Quicksand;
    display: flex;
    margin-bottom: 5px;
}

.baner div {
    margin: 0 auto;
    background: none;
    text-align: center;
}

h1 {
    color: white;
}

.baner h2 {
    color: white;
}

.Botones {
    display: flex;
    width: 100%;
    bottom: 7px;
    position: fixed;
}

.container-table100 {
    background: none;
    margin-top: 0px;
    height: 400px;
}

.limiter {
    margin-top: 0px;
    width: 100%;
    height: 400px;
}

.container-table100 {
    padding-top: 0px;
    min-height: 400px;
}

.wrap-table100 {
    height: 400px;
}

.table100-body {
    max-height: 415px;
}

th,
td {
    padding: 0px;
    padding-left: 10px;
    text-align: center;

}

.nameclass {
    font-size: 35px;
    color: gray;
    margin: auto 0;
    padding-left: 10px;
}

td div {
    margin: 0;
    padding: 0;
    padding-left: 10px;
    display: flex;
}

.nickclass {
    font-size: 20px;
    padding-top: 10px;
    color: #00ad5f;
    margin: auto 0;
    padding-left: 15px;
}

.imgclass {
    width: 50px;
    background: none;
    border: none;
}