@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
#coin {
    background: #1f1f1f;
}

#opp {
    box-shadow: 0 0 10px 0 black;
    background: #454545;
}

.columna1 {
    width: 30%;
}

.columna2 {
    width: 10%;
}

.columna3 {
    width: 10%;
}

.columna4 {
    width: 10%;
}

.columna5 {
    width: 30%;
}
.Venta{
	color: #AB005F;
}
